<ion-header  >
  <ion-navbar primary>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title><ion-icon name="add-circle"> Add Place </ion-icon></ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <form (submit)="doSubmitData(data)" ngNativeValidate>
  <ion-list>

  <ion-item>
    <ion-label floating>place</ion-label>
    <ion-input [(ngModel)]="data.name" required type="text" name="place"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label floating>Description</ion-label>
    <ion-input [(ngModel)]="data.description" required type="textarea" name="dec"></ion-input>
  </ion-item>  
  <ion-item *ngIf="data.lat">
    <ion-label floating>Lat</ion-label>
    <ion-input [(ngModel)]="data.lat" type="text" required name="lat"></ion-input>
  </ion-item>

  <ion-item *ngIf="data.long">
    <ion-label floating>Long</ion-label>
    <ion-input [(ngModel)]="data.long" type="text" required name="long"></ion-input>
  </ion-item>
</ion-list>
<!-- <a type="button" ion-button (click)='doopenMap()'> -->

<!-- </a> -->
  <div padding class="text-center" >
  <button ion-button disabled type="submit">Submit</button>
</div>
</form>
<ion-chip id="locationPin">
  <ion-icon name="pin"></ion-icon>
  <ion-label>Select Location</ion-label>
</ion-chip>

<div id="map-container" style="height:50%">
 <h4>Map Loading ...</h4>
</div>


 

</ion-content>
